@use '/src/styles/constants/colors';

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: colors.$WHITE;
}

.app {
  width: 360px;
  height: 720px;
  padding: 20px 10px;
  overflow: hidden;
  color: colors.$WHITE;
  background-color: colors.$SKYBLUE;
  border-radius: 20px;
}
