@use '/src/styles/constants/colors';

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: colors.$TEAL;
}

.app {
  width: 360px;
  height: 720px;
  padding: 40px 20px;
  background-color: colors.$WHITE;
  border-radius: 20px;
}
