@use '/src/styles/constants/colors';

.hourContainer {
  position: relative;
  padding: 15px;
  background-color: colors.$SKYBLUE_SECONDARY;
  border-radius: 15px;

  &.notIsAfter {
    &::after {
      content: '';
    }

    &::before {
      content: '';
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 15px;
    width: 20px;
    height: 100%;
    padding: 15px 0;
    pointer-events: none;
    content: linear-gradient(to right, transparent, colors.$SKYBLUE_SECONDARY);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 15px;
    width: 20px;
    height: 100%;
    padding: 15px 0;
    pointer-events: none;
    content: linear-gradient(to left, transparent, colors.$SKYBLUE_SECONDARY);
  }

  &.isDark {
    background-color: colors.$GRAY2;

    &::before {
      position: absolute;
      top: 0;
      left: 15px;
      width: 20px;
      height: 100%;
      padding: 15px 0;
      pointer-events: none;
      content: linear-gradient(to left, transparent, colors.$GRAY2);
    }

    &::after {
      position: absolute;
      top: 0;
      right: 15px;
      width: 20px;
      height: 100%;
      padding: 15px 0;
      pointer-events: none;
      content: linear-gradient(to right, transparent, colors.$GRAY2);
    }
  }
}
