.dailyWrapper {
  .dailyItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .tempInfo {
      display: flex;
      flex-direction: row;

      .icon {
        width: 30px;
        height: 30px;
        margin: 0 30px;
      }
    }

    span {
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;

      + span {
        margin-left: 10px;
      }
    }

    .humidity {
      font-size: 12px;
    }
  }

  li {
    + li {
      margin-top: 10px;
    }
  }
}
