@use '/src/styles/constants/colors';

.dailyWrapper {
  padding: 15px;
  margin-top: 20px;
  background-color: colors.$SKYBLUE_SECONDARY;
  border-radius: 15px;

  .dailyItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .tempInfo {
      display: flex;
      flex-direction: row;

      .humidity {
        height: 20px;
        margin: 10px 0;
        font-size: 11px;
        line-height: 10px;
        vertical-align: middle;

        .icon {
          width: 10px;
          height: 10px;
          margin: 0 5px;
          fill: colors.$WHITE;
        }
      }

      .image {
        width: 30px;
        height: 30px;
        margin: 0 30px;
      }
    }

    span {
      height: 30px;
      font-size: 13px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;

      + span {
        margin-left: 10px;
      }
    }

    .humidity {
      font-size: 12px;
    }
  }

  li {
    + li {
      margin-top: 10px;
    }
  }
}
