@use '/src/styles/constants/colors';

.asideContainer {
  width: 100%;
  height: 100%;
  padding: 60px 30px;
  background-color: colors.$GRAY3;
  border-radius: 0 10px 0 0;

  .locationContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px;

    + .locationContainer {
      border-top: 2px dotted colors.$WHITE;
    }

    .title {
      display: flex;

      div {
        height: 25px;
        margin-left: 20px;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        vertical-align: middle;
      }

      .icon {
        fill: colors.$WHITE;
      }
    }

    .locationList {
      padding: 10px 10px 10px 44px;
    }
  }

  .controlButton {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: colors.$WHITE;
    background-color: colors.$GRAY6;
    border-radius: 30px;
  }
}
