@use '/src/styles/constants/colors';

.locationItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 15px 20px;
  margin-top: 10px;
  background-color: colors.$GRAY2;
  border-radius: 20px;

  .left {
    display: flex;
    height: 40px;
    line-height: 40px;
    text-align: center;

    .inputContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;

      input[type='checkbox'] {
        width: 20px;
        height: 20px;
        border: 1px solid colors.$GRAYA;
        border-radius: 100%;
      }

      input[type='checkbox']:checked {
        width: 20px;
        height: 20px;
        background-color: colors.$WHITE;
        border: none;
        border: 1px solid colors.$GRAYA;
        border-radius: 100%;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;

    .rightTop {
      display: flex;

      .tempImg {
        width: 30px;
        height: 30px;
      }

      .temp {
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

    .rightBottom {
      display: flex;
      justify-content: space-between;
      height: 10px;
      font-size: 10px;

      .minMaxTemp {
        color: colors.$GRAYA;
      }
    }
  }
}
