@use '/src/styles/constants/colors';

.locationTitle {
  padding: 5px 20px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  color: colors.$GRAYA;
}

.locationList {
  width: 100%;
  height: 400px;
  overflow: auto;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
    height: 50px;
    color: colors.$WHITE;

    .icon {
      width: 30px;
      height: 30px;
      fill: colors.$WHITE;
    }
  }
}
