@use '/src/styles/constants/colors';

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 720px;
  padding: 30px 0;
  overflow: hidden;
  color: colors.$WHITE;
  background-color: colors.$SKYBLUE_SECONDARY;
  border-radius: 20px;

  &.isManage {
    background-color: colors.$BLACK;
  }

  &.isDark {
    background-color: colors.$BLACK;
  }
}

.loaderSvg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  fill: none;
  stroke: colors.$WHITE;
  stroke-linecap: round;
  stroke-width: 5px;

  &.animate {
    stroke-dasharray: 242.6;
    animation: fillAnimation 0.8s cubic-bezier(1, 1, 1, 1) 0s infinite;
  }
}

@keyframes fillAnimation {
  0% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }

  100% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}
