@use '/src/styles/constants/colors';

.pageContainer {
  width: 360px;
  height: 720px;
  padding: 30px 0;
  overflow: hidden;
  color: colors.$WHITE;
  background-color: colors.$BLACK;
  border-radius: 20px;

  main {
    padding: 20px 0;
  }
}
