@use '/src/styles/constants/levels';
@use '/src/styles/constants/colors';

.pageContainer {
  width: 360px;
  height: 720px;
  padding: 20px 10px;
  overflow: hidden;
  color: colors.$WHITE;
  background-color: colors.$SKYBLUE;
  border-radius: 20px;

  &.isDark {
    background-color: colors.$BLACK;
  }

  .weaterContainer {
    position: relative;
    display: flex-inline;
    width: 100%;
    height: 100%;
    transition: transform ease-out 0.4s;

    .outerContainer {
      &.isAside {
        opacity: 0.2;
      }
    }

    &.isAside {
      transform: translate(300px, 0);
    }

    header {
      position: absolute;
      top: 0;
      right: 0;
      z-index: levels.$HEADER;
      width: 100%;
      height: 220px;
      background-color: colors.$WHITE;
    }

    h1 {
      &.allyHidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        clip-path: polygon(0 0, 0 0, 0 0);
      }
    }

    .scrollFriendly {
      height: 640px;
      padding-top: 220px;
      overflow: auto;
    }

    nav {
      position: absolute;
      top: 0;
      left: -310px;
      width: 300px;
      height: 100%;
      background-color: colors.$BLACK;
      border-radius: 0 20px 0 0;

      &.isAside {
        backdrop-filter: blur(50px);
      }
    }
  }
}
